body{
    background-color:cyan;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div{
    padding-bottom: 30px;
}
form{
    background-color:white ;
    width:70%;
 
}
.titulo{
    text-align: center;
}
div{
    display:flex;
    flex-direction: column;
    margin-left:23%;
}
.box{
    margin-top: 20px;
    width:500px;
    height: 30px;
    text-align: center;
}
.erro{
    color: red;
    font-size: 20px;
    font-weight: bolder;
    
}
.ceperro{
    width:500px;
    align-items: center;
    margin-left:0px;
    margin-bottom: -45px;

}
.show_erro{
    display:none;
}